# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Node / frontend
node_modules/
dist/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log
logs/